/******************************************
/* SETUP
/*******************************************/

/* Box Model */
* {
    -moz-box-sizing: border-box;
    /* Firexfox */
    -webkit-box-sizing: border-box;
    /* Safari/Chrome/iOS/Android */
    box-sizing: border-box;
    /* IE */
}

/******************************************
/* FONTS
/*******************************************/

/* font-family: "Open Sans", Arial, sans-serif */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/******************************************
/* BASE STYLES
/*******************************************/

html,
body {
    height: 100%;
    width: 100%;
    background-color: #222222;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    color: #000;
    font-size: 12px;
    line-height: 1.4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

header {
    background-image: url(../images/header_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 1rem 3rem 6rem;
}

header h1 {
    font-weight: 800;
    font-size: 24px;
    top: 0;
    left: 0;
}

header p {
    font-weight: 600;
    font-size: 24px;
}

header a {
    font-weight: 800;
    font-size: 14px;
}

#benefits {}

#benefits h2 {
    font-weight: 600;
    font-size: 20px;
}

#benefits p,
#benefits ul {
    font-weight: 300;
    font-size: 13px;
    list-style: disc;
}

#benefits ul {
    padding-left: 2rem;
}

#testimonial {
    background-image: url(../images/testimonial_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#testimonial blockquote {
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
    padding: 0 10rem;
}

#testimonial figcaption {
    font-weight: 600;
    font-size: 18px;
}

/* #sign-up {

} */

#sign-up a {
    font-weight: 800;
    font-size: 12px;
}

/* footer {

} */

footer p {
    font-weight: 800;
    font-size: 24px;
}

footer small {
    font-weight: 600;
    font-size: 9px;
    display: block;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.container {
    height: 100%;
    width: 62.5%;
    min-height: 1000px;
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* justify-items: center; */
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* Can be override*/
}

.white-bg {
    background-color: #f0efef
}

.yellow-bg {
    background-color: #f9e42e;
}

.blue-bg {
    background-color: #033048;
}

.grey-bg {
    background-color: #606161;
}

.black-bg {
    background-color: #121212;
}

.white-txt {
    color: #f0efef
}

.yellow-txt {
    color: #f9e42e;
}

.blue-txt {
    color: #033048;
}

.grey-txt {
    color: #606161;
}

.black-txt {
    color: #121212;
}

.btn {
    border-radius: 5px;
    padding: 0.5rem 2rem;
    text-decoration: none;
}

.pdng {
    padding: 3rem;
}

.mrgn {
    margin: 1rem;
}

.center-txt {
    text-align: center;
    margin: 0 auto;
}

a {
    transition: all 0.25s ease-in-out;
}

a:hover {
    /* background-color: rgba(255, 255, 255, 0.5); */
    box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.75);
    transition: all 0.25s ease-in-out;

}